<template name="Terms">
<div class="content-box">
	<div class="container">
		<div class="terms">
			<h1>เงื่อนไขในการใช้บริการ</h1>
			<div class="divider"></div>
			<ol>
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
				<li>Cras id quam a arcu vulputate mattis vitae et quam.</li>
				<li>Sed in lectus vel ipsum congue aliquet non lacinia metus.</li>
				<li>Mauris rhoncus metus quis purus iaculis pretium in in tortor.</li>
				<li>Cras auctor libero at lectus ultricies faucibus id nec felis.</li>
				<li>Vivamus tristique sem non leo pretium, in dignissim mi cursus.</li>
				<li>Ut tincidunt velit ut elementum varius.</li>
				<li>Nunc at dui a tellus dignissim finibus.</li>
				<li>In pulvinar nibh quis hendrerit vestibulum.</li>
				<li>Fusce dictum dolor sed leo faucibus, id gravida neque mattis.</li>
				<li>Phasellus vitae justo elementum, finibus magna nec, gravida ligula.</li>
				<li>Maecenas varius urna tristique felis sodales, eu hendrerit nulla placerat.</li>
				<li>Cras pretium dui nec aliquet aliquam.</li>
				<li>Nulla lacinia justo vitae quam venenatis mattis.</li>
				<li>Praesent luctus neque sed nibh varius fringilla.</li>
				<li>Nunc at orci sed orci vestibulum elementum.</li>
				<li>Sed imperdiet magna eleifend dapibus sagittis.</li>
				<li>Mauris venenatis nisl sed laoreet viverra.</li>
				<li>Donec tincidunt diam eu nunc luctus lobortis.</li>
				<li>Curabitur rhoncus ipsum sed arcu hendrerit aliquam.</li>
				<li>Suspendisse maximus odio et elit sollicitudin pretium.</li>
				<li>In vitae orci mollis, sagittis ligula elementum, elementum mi.</li>
				<li>Integer ut eros et turpis feugiat porta in eu enim.</li>
				<li>Duis sit amet mauris malesuada, pellentesque nisi eget, sagittis ligula.</li>
				<li>Fusce malesuada enim id elit consequat tempor.</li>
				<li>Aenean ut nibh id augue cursus faucibus porta quis elit.</li>
				<li>Curabitur aliquam nunc vel faucibus fermentum.</li>
				<li>Etiam venenatis sem vel enim iaculis ornare.</li>
				<li>Mauris eu diam mattis, egestas dolor ac, elementum nunc.</li>
				<li>Nulla id lectus cursus, posuere felis in, lobortis libero.</li>
				<li>Morbi a magna vel ante porttitor accumsan.</li>
				<li>Nullam ultricies sem et ante iaculis rhoncus.</li>
				<li>Donec id ante sed nunc convallis ornare.</li>
				<li>Integer at turpis consequat, pulvinar nunc vitae, venenatis nunc.</li>
				<li>In vitae ex feugiat, ultrices ligula ac, mattis magna.</li>
				<li>Fusce elementum nibh a pharetra posuere.</li>
				<li>Praesent eget turpis placerat, consequat augue ac, bibendum leo.</li>
				<li>Praesent vitae lacus sed urna lacinia mattis.</li>
				<li>Ut quis nisi vel ex pulvinar lobortis.</li>
				<li>Pellentesque vel felis ac metus tempor tempor.</li>
				<li>Nulla quis metus eu nisi sollicitudin gravida.</li>
				<li>Mauris eleifend metus ut justo consectetur, non hendrerit ipsum congue.</li>
				<li>Vivamus dictum odio ac urna accumsan, quis tincidunt erat aliquet.</li>
				<li>Phasellus elementum orci eget felis accumsan interdum.</li>
				<li>Donec faucibus dui at enim placerat, ut tempus sem pharetra.</li>
				<li>Ut rhoncus nibh ac vehicula faucibus.</li>
				<li>Ut interdum ante semper urna sodales, sed dignissim velit mattis.</li>
				<li>Sed eu eros nec lorem mattis iaculis.</li>
				<li>Phasellus ac leo suscipit, tempor tortor eget, rutrum enim.</li>
				<li>Etiam id lorem et lectus blandit vestibulum.</li>
				<li>Etiam id risus consequat, rutrum leo vitae, mattis ipsum.</li>
				<li>Donec sit amet sem placerat, posuere odio id, ultrices elit.</li>
				<li>Nunc sit amet magna id augue rutrum consectetur vel in metus.</li>
				<li>Morbi condimentum dolor a tortor mattis, nec suscipit quam iaculis.</li>
				<li>Vestibulum blandit odio eu dolor luctus, ut feugiat arcu vehicula.</li>
				<li>Morbi tempus libero vel sagittis euismod.</li>
				<li>Duis et dolor ut quam mattis aliquet.</li>
				<li>Etiam tristique mauris ultrices, posuere massa a, ultricies mi.</li>
				<li>Nullam a ipsum mollis, efficitur metus in, sagittis purus.</li>
				<li>Pellentesque varius eros ac eros condimentum aliquet.</li>
				<li>Suspendisse at mauris ullamcorper nulla congue finibus.</li>
				<li>Nulla eu erat nec mauris dignissim posuere vitae eget orci.</li>
				<li>Cras ornare eros at eros lobortis, id pulvinar dolor dignissim.</li>
				<li>Aenean eu diam id enim convallis viverra.</li>
				<li>Phasellus sit amet nunc consectetur, mollis ligula id, scelerisque felis.</li>
				<li>Vivamus vel ex tincidunt leo iaculis laoreet.</li>
				<li>Morbi dapibus nibh sed urna aliquet, at egestas arcu interdum.</li>
				<li>Aenean ultricies lacus ut pellentesque dapibus.</li>
				<li>Praesent nec sapien bibendum, tempus velit eu, eleifend libero.</li>
				<li>Sed nec magna vehicula, hendrerit risus eu, convallis ante.</li>
			</ol>
		</div>
	</div>
</div>
</template>
