<template name="Footer">
  <div class="footer container-brand-dark">
    <footer>
        <div class="container">
            <p>
                <b>Cowscastle.com</b> ถูกสร้างขึ้นมาเพื่อเป็นพื้นที่ในการติดต่อระหว่าง Startup และ Co-working space เพื่อค้นหาและจองพื้นที่สำหรับทำงาน
                <span  class="pull-right">
                    ติดตามเราได้ที่
                    <a href="http://www.facebook.com/cowscastle" target="_blank"><i class="fa fa-facebook-official"></i></a>
                    <a href="http://www.twitter.com/cowscastle" target="_blank"><i class="fa fa-twitter-square"></i></a>
                    <a href="http://www.instagram.com/cowscastle" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="http://www.pinterest.com/cowscastle" target="_blank"><i class="fa fa-pinterest-square"></i></a>
                    <a href="https://th.linkedin.com/in/cowscastle" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                    <a href="http://www.youtube.com/user/cowscastle" target="_blank"><i class="fa fa-youtube-square"></i></a>
                </span>
            </p>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span class="border-top margin-top">
                        <ul class="padding-top">
                            <li><a href="/about" target="_blank" >เกี่ยวกับเรา</a></li>
                            <li><a href="/payment" target="_blank">ค่าบริการ</a></li>
                            <li><a href="/whyus" target="_blank">ใช้บริการเรา</a></li>
                            <li><a href="/faq" target="_blank">คำถามที่พบบ่อย</a></li>
                            <li><a href="/advertise" target="_blank">โฆษณา</a></li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <span class="border-top">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <span class="margin-top"><a href="/terms">ข้อกำหนดในการบริการ</a> | <a href="/privacy">Privacy policy</a></span>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <span class="pull-right  margin-top">&copy; {{copyYear}} Cows Castle&trade; 45/140 ถนนประชาราษฎร์สาย 1 แขวงบางซื่อ เขตบางซื่อ กรุงเทพมหานคร 10800.</span>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </footer>
  </div>
</template>
