<template name="Home">
    <div class="home">
        <div id="myCarousel" class="carousel carousel-home slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Fast move, Fast work, More productive</h1>
                            <p style="color:#e4e4e4;"></p>
                            <center>
                            <form class="search-form" role="search">
                                <div class="row" style="z-index:999;">
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" name="search-home-text" class="form-control input-lg" placeholder="Where do you want to work?">
                                            <div class="input-group-btn">
                                                <button class="btn btn-lg btn-primary search-workspace-btn">
                                                    <i class="fa fa-search"></i>
                                                    <span class="hidden-xs"> ค้นหา</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                    </div>
                                </div>
                            </form>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container marketing">
            <h1 class="text-center">Recently viewed space</h1>
            <h5 class="text-center">Pick up where you left off.</h5>
            <br>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 col-spacing">
                    <div class="marketing-dark-cover">
                      <a href="">
                        <img src="http://placehold.it/314X344?text=Siam">
                      </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-spacing">
                    <div class="marketing-dark-cover">
                      <a href="">
                        <img src="http://placehold.it/314X344?text=Pleonchit">
                      </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="marketing-dark-cover">
                      <a href="">
                        <img src="http://placehold.it/314X344?text=Chit Lom">
                      </a>
                    </div>
                </div>
            </div>
            <!-- <br>
            <h1  class="text-center">Explore the Castle</h1>
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12 visible-lg">
                    <div class="marketing-dark-cover">
                      <a href="">
                        <img src="http://draftboard.co.th/wp-content/uploads/2015/05/DBS0815-0524.jpg">
                        <div class="center-caption">
                          <h1>Draftboard</h1>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-spacing">
                    <div class="marketing-dark-cover">
                      <a href="">
                        <img src="https://angkorhub.com/wp-content/uploads/2015/07/AngkorHUB-byInnoLabs-v4-square.png">
                        <div class="center-caption">
                            <h1>Angkor HUB</h1>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-spacing">
                    <div class="marketing-dark-cover">
                      <a href="">
                        <img src="http://vientiane.startupweekend.org/files/2015/12/10634016_272165926312902_4535194496291340759_o.jpg">
                        <div class="center-caption">
                            <h1>Toh Laos</h1>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-spacing">
                    <div class="marketing-dark-cover">
                      <a href="">
                        <img src="https://www.blognone.com/sites/default/files/news-thumbnails/pun-space.png?1362934205">
                        <div class="center-caption">
                            <h1>PUN Space</h1>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-spacing">
                    <div class="marketing-dark-cover">
                      <a href="">
                        <img src="http://madeehub.com/wp-content/themes/mad/images/mad-logo.png">
                        <div class="center-caption">
                            <h1>MA:D</h1>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="marketing-dark-cover">
                      <a href="">
                        <img src="http://www.roommag.com/wp-content/uploads/2015/06/4856_room-directory-1702-1.jpg">
                        <div class="center-caption">
                            <h1>522 Coworking</h1>
                        </div>
                      </a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12 visible-lg">
                    <div class="marketing-dark-cover">
                      <a href="">
                        <img src="http://hubbathailand.com/hubba-wp-2015/wp-content/themes/hubba2558/images/about/hotdesk.jpg">
                        <div class="center-caption">
                            <h1>HUBBA</h1>
                        </div>
                      </a>
                    </div>
                </div>
            </div> -->
        </div>
        <br>
    </div>
</template>

