<template name="Dashboard">
    <div class="content-box" style="padding:10px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card hovercard">
                        <div class="cardheader">
                        </div>
                        {{> avatar user=currentUser size="large" shape=circle}}
                        <div class="info">
                            <div class="title">
                                {{> cows_account_name }}
                            </div>
                           <h5>Verified by:
                           {{#if Verified.email}}<i class="fa fa-envelope-o"></i>{{/if}}
                           {{#if Verified.phone}}<i class="fa fa-phone"></i>{{/if}}
                           </h5>
                           <div class="desc">Hosted: {{Hosted}} </div>
                        </div>
                        <div class="bottom">
                           <!--  <a class="btn facebook btn-sm" rel="publisher"
                               href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="btn twitter btn-sm" href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="btn instagram btn-sm" rel="publisher"
                               href="">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a class="btn youtube btn-sm" rel="publisher"
                               href="">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                            <a class="btn linkedin btn-sm" rel="publisher"
                               href="">
                                <i class="fa fa-linkedin"></i>
                            </a> -->
                        </div>
                    </div>

                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <!-- <div class="strike">
                       <span>Booking Activity</span>
                    </div> -->
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#your-booking" data-toggle="tab">Your booking</a></li>
                        <li><a href="#booking-activity" data-toggle="tab">Booking activity</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="your-booking" class="tab-pane active">
                            <table class="table table-hover"  style="margin-top:10px;"> 
                                <thead> 
                                    <tr> 
                                        <th>รายละเอียด</th> 
                                        <th>จัดการ</th> 
                                    </tr> 
                                </thead> 
                                <tbody> 
                                    {{#each Booking}}
                                    <tr> 
                                        <td>
                                            {{#if this.confirm}}
                                            <i class="fa fa-check-square-o"> </i>
                                            {{else}}
                                            <i class="fa fa-edit"> </i>
                                            {{/if}}
                                            {{theSpaceData(this.space_id)}}
                                        </td> 
                                        <td>
                                            <button class="btn btn-default edit-booking">ยืนยันการจอง</button>
                                        </td> 
                                    </tr> 
                                    {{/each}}
                                </tbody> 
                            </table>
                        </div>
                        <div id="booking-activity" class="tab-pane">
                            <table class="table table-hover"  style="margin-top:10px;"> 
                                <thead> 
                                    <tr> 
                                        <th>รายละเอียด</th> 
                                        <th>วันที่</th> 
                                        <th>สถานะ</th> 
                                    </tr> 
                                </thead> 
                                <tbody> 
                                    {{#each Booking}}
                                    <tr> 
                                        <td>{{theBookingData(this.space_id)}}</td> 
                                        <td>{{unixToDate(this.date)}}</td> 
                                        <td>{{ConfirmMessage(this.confirm)}}</td> 
                                    </tr> 
                                    {{/each}}
                                </tbody> 
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


                        
                  
